@charset "utf-8";
/* CSS Document */
body,ol,ul,h1,h2,h3,h4,h5,h6,b,p,th,td,dl,dd,form,fieldset,em,legend,input,textarea,select{
	margin:0;
	padding:0
}
i,em{
	font-style:normal;	
}
li{
	list-style:none;	
}
a{
	color:#6c6c6c;
	font-size:12px;	
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6,b,strong{
	font-weight:normal;
}
img{
	border:0;
}
input{
	outline:none;	
}
.clearfix:after{
	content:' ';
	display:block;
	height:0;
	overflow:hidden;
	clear:both;	
}
h1,h2,h3,h4,h5,h6,b,strong,i,em,u{
	font-size: 12px;
	text-decoration: none;
}
